<div class="w-full h-screen flex flex-col justify-center p-3">
  <div class="h-72 flex flex-col items-center justify-between">
    <img
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/217.png"
      alt="bear"
    />
    <p class="text-xl lg:text-3xl text-gray-800">Página não encontrada</p>
    <p class="text-base lg:text-xl text-gray-600">
      Desculpe, a página que você está procurando não foi encontrada.
    </p>
    <a
      href="/"
      class="flex items-center space-x-2 bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded transition duration-150"
      title="Voltar para o início"
    >
      <i class="fa-solid fa-arrow-left text-white text-xl"></i>
      <span>Voltar</span>
    </a>
  </div>
</div>
