<div
  class="flex flex-col justify-evenly max-w-full h-full bg-yellow-400 p-3 border-b-4 border-yellow-600 rounded-md overflow-hidden shadow-none card"
>
  <h3
    class="text-center m-0 text-gray-800 text-clip font-bold text-lg md:text-xl mb-2"
  >
    {{ title }}
  </h3>
  <figure class="p-3">
    <img
      class="w-full h-auto"
      src="{{ thumbnail }}"
      width="150"
      height="150"
      alt="{{ title }}"
      priority
    />
  </figure>

  <div class="p-3">
    <p class="text-center m-0 text-white text-clip text-sm md:text-base">
      {{ description }}
    </p>
  </div>
</div>
